@font-face {
    font-family: "Segoe UI";
    src: url("fonts/SegoeUI.ttf") format("ttf");
    src: url("fonts/SegoeUI.woff") format("woff");
}
* {
    margin: 0;
    padding: 0;
}

body {
    font: 16px / 18px "Open Sans", sans-serif;
    color: #000;
    background-color: #fff;
    letter-spacing: 1px;
}

ul {
	list-style: none;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

/*Header*/

.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #333333 url("img/bg.png") no-repeat;
    background-size: cover;
    color: #fff;
}

.header-top {
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 80px;
}

.logo {
    font-family: "Tahoma", sans-serif;
    letter-spacing: 1px;
}

.logo-header {
    font-size: 22px;
    line-height: 22px;
    margin-left: 125px;
}

.header-navigation {
    margin-right: 60px;
}

.navigation-list-item-link {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 8px 16px 16px 7px;
}

.navigation-list-item-link:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 14px;
}

.header-promo {
    color: #fefefe;
    text-align: center;
    text-transform: uppercase;
}

.page-title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 40px;
    letter-spacing: 5px;
}

.ad-text {
    font-size: 30px;
    line-height: 30px;
    font-style: italic;
}

/* Section About goals*/

.wrapper-goals {
    width: 870px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.items-container-goals {
    display: flex;
    justify-content: space-around;
}

.goals-item {
    width: 305px;
}

.goals-item:first-child {
    text-align: right;
}

.goals-item-title {
    font-size: 22px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 17px;
}

.photo {
    border-radius: 50%;
}

/* Section Skills */

.skills-section,
.contact-section {
    border-top: 1px solid #ccc;
}

.skills-section {
    padding-top: 35px;
    padding-bottom: 75px;
}

.wrapper-skills {
    width: 645px;
    margin: 0 auto;
}

.skills-item {
    align-items: center;
    margin-bottom: 15px;
}

.skills-item:last-child {
    margin-bottom: 0;
}

.skills-degree-rate {
    width: 45%;
}

.skills-item-name {
    width: 40%;
    text-align: right;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    letter-spacing: 2px;
    color: #333;
}

.point {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #9c9a9a;
}

.black-point {
    background: #333333;
}

/* Section Contact */

.wrapper-contact {
    width: 740px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 90px;
}

.contact-container-inner {
    font-size: 15px;
    line-height: 15px;
}

.contact-info-section {
    flex-direction: column;
    width: 165px;
    height: 185px;
    color: #888;
}

.contact-info-item-header {
    font-size: 15px;
    color: #000;
    font-weight: normal;
    margin-bottom: 12px;
}

.contact-form-section {
    width: 437px;
}

.input-field,
.textarea-field,
.btn {
    font-family: "Segoe UI";
    font-size: 15px;
    line-height: 14px;
    letter-spacing: 1px;
}

.input-field,
.textarea-field {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #919191;
    padding: 10px 8px;
    margin-bottom: 27px;
}

.textarea-field {
    resize: none;
    height: 89px;
}

.btn {
    display: block;
    width: 166px;
    margin: 0 auto;
    background-color: #333333;
    border: none;
    color: #fff;
    padding-top: 9px;
    padding-bottom: 8px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.7;
}

/* Footer */

.page-footer {
    min-height: 175px;
    background-color: #333333;
    color: #fffefe;
    font-size: 15px;
}

.wrapper-footer {
    width: 890px;
    margin: 0 auto;
    align-items: center;
}

.contact-info-footer {
    margin-bottom: 5px;
}

.contact-info-footer:last-child {
    margin-bottom: 0;
}

.logo-footer {
    font-size: 41px;
    line-height: 19px;
}